<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lab3.lab3_game">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ariel2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ariel_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.GameActivity" />
        <activity android:name=".Activities.GameStatisticActivity" />
        <activity android:name=".CreateGameField.CreateGameFieldActivity" />
        <activity android:name=".Activities.MenuActivity" />
        <activity android:name=".UserAccount.UserPageActivity" />
        <activity android:name=".Activities.GoogleLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>